.grid {
    display: grid;
    /*  border: 2px black solid;*/
    height: auto; 
    width: auto;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-row: 200px 200px;*/
    grid-column-gap: 15px;
    grid-row-gap: 10px;
  }
  
  .box {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }

  .Instagram{
    height: 50px;
    text-align:center;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.House {
    height: 30px;
    display:block;
    margin-left: 10%;
    margin-right: auto;
}
.explore{
    height:30px;
}

._6q-tv {
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none;
}

.grid1{
    display: grid;
    /*  border: 2px black solid;*/
    height: auto; 
    width: auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;  
}
.box1 {
    background-color: #D3D3D3;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }


  .profile{
background-color: #D3D3D3;
}
.a{
    grid-row-start: 1;
    grid-row-end:4;
}



.button1 {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.bold{
    
}